In [352]:
import pandas as pd
from datetime import datetime

In [353]:
#consts
filename= 'fb'
important_columns = ['Open', 'High', 'Low', 'Close','h_l_diff','o_c_diff']

In [354]:
df = pd.read_csv(f'../data/1 Hour/Stocks/{filename}.us.txt')

df.head(10)

,Date,Time,Open,High,Low,Close,Volume,OpenInt
0,2017-05-16,16:00:00,150.110,150.2100,149.7100,149.8000,1910216,0
1,2017-05-16,17:00:00,149.810,149.9286,149.0300,149.6045,2829254,0
2,2017-05-16,18:00:00,149.610,150.0500,149.5900,150.0500,1724151,0
3,2017-05-16,19:00:00,150.045,150.0500,149.6300,149.7500,970392,0
4,2017-05-16,20:00:00,149.760,149.8950,149.3500,149.4407,1344857,0
5,2017-05-16,21:00:00,149.450,149.8000,149.4100,149.7450,1006844,0
6,2017-05-16,22:00:00,149.740,149.8500,149.5601,149.7800,2656057,0
7,2017-05-17,16:00:00,148.000,148.6700,147.2600,147.6300,3661194,0
8,2017-05-17,17:00:00,147.630,148.3300,146.6600,146.7450,4036998,0
9,2017-05-17,18:00:00,146.750,147.4200,146.3900,147.4200,2575473,0

In [355]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     996 non-null    object
 1   Time     996 non-null    object
 2   Open     996 non-null    float64
 3   High     996 non-null    float64
 4   Low      996 non-null    float64
 5   Close    996 non-null    float64
 6   Volume   996 non-null    int64
 7   OpenInt  996 non-null    int64
dtypes: float64(4), int64(2), object(2)
memory usage: 62.4+ KB

In [356]:
df.describe()

             Open        High         Low       Close        Volume  OpenInt
count  996.000000  996.000000  996.000000  996.000000  9.960000e+02    996.0
mean   166.299998  166.732975  165.831218  166.303999  1.999452e+06      0.0
std     10.370787   10.366676   10.362284   10.360171  1.320187e+06      0.0
min    144.720000  146.230000  144.421600  144.850000  3.228230e+05      0.0
25%    154.095000  154.500075  153.765000  154.112500  1.120072e+06      0.0
50%    169.825000  170.180000  169.185000  169.870000  1.665720e+06      0.0
75%    173.140000  173.482500  172.632500  173.067500  2.460596e+06      0.0
max    183.510000  184.250000  183.220000  183.400000  1.141471e+07      0.0

In [357]:
df = df.drop('OpenInt',1)

In [358]:
df.head(10)

         Date      Time     Open      High       Low     Close   Volume
0  2017-05-16  16:00:00  150.110  150.2100  149.7100  149.8000  1910216
1  2017-05-16  17:00:00  149.810  149.9286  149.0300  149.6045  2829254
2  2017-05-16  18:00:00  149.610  150.0500  149.5900  150.0500  1724151
3  2017-05-16  19:00:00  150.045  150.0500  149.6300  149.7500   970392
4  2017-05-16  20:00:00  149.760  149.8950  149.3500  149.4407  1344857
5  2017-05-16  21:00:00  149.450  149.8000  149.4100  149.7450  1006844
6  2017-05-16  22:00:00  149.740  149.8500  149.5601  149.7800  2656057
7  2017-05-17  16:00:00  148.000  148.6700  147.2600  147.6300  3661194
8  2017-05-17  17:00:00  147.630  148.3300  146.6600  146.7450  4036998
9  2017-05-17  18:00:00  146.750  147.4200  146.3900  147.4200  2575473

In [359]:
df['Close_diff'] = df['Close'].diff()
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff
0,2017-05-16,16:00:00,150.110,150.2100,149.7100,149.8000,1910216,NaN
1,2017-05-16,17:00:00,149.810,149.9286,149.0300,149.6045,2829254,-0.1955
2,2017-05-16,18:00:00,149.610,150.0500,149.5900,150.0500,1724151,0.4455
3,2017-05-16,19:00:00,150.045,150.0500,149.6300,149.7500,970392,-0.3000
4,2017-05-16,20:00:00,149.760,149.8950,149.3500,149.4407,1344857,-0.3093
5,2017-05-16,21:00:00,149.450,149.8000,149.4100,149.7450,1006844,0.3043
6,2017-05-16,22:00:00,149.740,149.8500,149.5601,149.7800,2656057,0.0350
7,2017-05-17,16:00:00,148.000,148.6700,147.2600,147.6300,3661194,-2.1500
8,2017-05-17,17:00:00,147.630,148.3300,146.6600,146.7450,4036998,-0.8850
9,2017-05-17,18:00:00,146.750,147.4200,146.3900,147.4200,2575473,0.6750

In [360]:
df.describe()

,Open,High,Low,Close,Volume,Close_diff
count,996.000000,996.000000,996.000000,996.000000,9.960000e+02,995.000000
mean,166.299998,166.732975,165.831218,166.303999,1.999452e+06,0.026412
std,10.370787,10.366676,10.362284,10.360171,1.320187e+06,0.776945
min,144.720000,146.230000,144.421600,144.850000,3.228230e+05,-6.040000
25%,154.095000,154.500075,153.765000,154.112500,1.120072e+06,-0.266700
50%,169.825000,170.180000,169.185000,169.870000,1.665720e+06,0.020000
75%,173.140000,173.482500,172.632500,173.067500,2.460596e+06,0.374000
max,183.510000,184.250000,183.220000,183.400000,1.141471e+07,8.260000

In [361]:
def create_class_column(row):
    if row['Close_diff'] > 0.24:
        return 1
    if row['Close_diff'] < -0.14:
        return -1
    else:
        return 0

def create_daily_mean_column(row, groupData, col_name):
    return float(groupData.loc[(dateGroups['Date'] == row['Date'])][col_name])

def calculate_diffs(diff_number, col_name):
    new_col_name = f'{col_name}_{diff_number}'
    df[new_col_name] = df[col_name].diff(diff_number)

In [362]:
df['h_l_diff'] = df['High'] - df['Low']
df['o_c_diff'] = df['Open'] - df['Close']
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff
0,2017-05-16,16:00:00,150.110,150.2100,149.7100,149.8000,1910216,NaN,0.5000,0.3100
1,2017-05-16,17:00:00,149.810,149.9286,149.0300,149.6045,2829254,-0.1955,0.8986,0.2055
2,2017-05-16,18:00:00,149.610,150.0500,149.5900,150.0500,1724151,0.4455,0.4600,-0.4400
3,2017-05-16,19:00:00,150.045,150.0500,149.6300,149.7500,970392,-0.3000,0.4200,0.2950
4,2017-05-16,20:00:00,149.760,149.8950,149.3500,149.4407,1344857,-0.3093,0.5450,0.3193
5,2017-05-16,21:00:00,149.450,149.8000,149.4100,149.7450,1006844,0.3043,0.3900,-0.2950
6,2017-05-16,22:00:00,149.740,149.8500,149.5601,149.7800,2656057,0.0350,0.2899,-0.0400
7,2017-05-17,16:00:00,148.000,148.6700,147.2600,147.6300,3661194,-2.1500,1.4100,0.3700
8,2017-05-17,17:00:00,147.630,148.3300,146.6600,146.7450,4036998,-0.8850,1.6700,0.8850
9,2017-05-17,18:00:00,146.750,147.4200,146.3900,147.4200,2575473,0.6750,1.0300,-0.6700

In [363]:
#diffs
for name in important_columns:
    for i in range(1,11):
        calculate_diffs(i,name)

df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,...,o_c_diff_1,o_c_diff_2,o_c_diff_3,o_c_diff_4,o_c_diff_5,o_c_diff_6,o_c_diff_7,o_c_diff_8,o_c_diff_9,o_c_diff_10
0,2017-05-16,16:00:00,150.110,150.2100,149.7100,149.8000,1910216,NaN,0.5000,0.3100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-05-16,17:00:00,149.810,149.9286,149.0300,149.6045,2829254,-0.1955,0.8986,0.2055,...,-0.1045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-05-16,18:00:00,149.610,150.0500,149.5900,150.0500,1724151,0.4455,0.4600,-0.4400,...,-0.6455,-0.7500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-05-16,19:00:00,150.045,150.0500,149.6300,149.7500,970392,-0.3000,0.4200,0.2950,...,0.7350,0.0895,-0.0150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-05-16,20:00:00,149.760,149.8950,149.3500,149.4407,1344857,-0.3093,0.5450,0.3193,...,0.0243,0.7593,0.1138,0.0093,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-05-16,21:00:00,149.450,149.8000,149.4100,149.7450,1006844,0.3043,0.3900,-0.2950,...,-0.6143,-0.5900,0.1450,-0.5005,-0.6050,NaN,NaN,NaN,NaN,NaN
6,2017-05-16,22:00:00,149.740,149.8500,149.5601,149.7800,2656057,0.0350,0.2899,-0.0400,...,0.2550,-0.3593,-0.3350,0.4000,-0.2455,-0.3500,NaN,NaN,NaN,NaN
7,2017-05-17,16:00:00,148.000,148.6700,147.2600,147.6300,3661194,-2.1500,1.4100,0.3700,...,0.4100,0.6650,0.0507,0.0750,0.8100,0.1645,0.0600,NaN,NaN,NaN
8,2017-05-17,17:00:00,147.630,148.3300,146.6600,146.7450,4036998,-0.8850,1.6700,0.8850,...,0.5150,0.9250,1.1800,0.5657,0.5900,1.3250,0.6795,0.5750,NaN,NaN
9,2017-05-17,18:00:00,146.750,147.4200,146.3900,147.4200,2575473,0.6750,1.0300,-0.6700,...,-1.5550,-1.0400,-0.6300,-0.3750,-0.9893,-0.9650,-0.2300,-0.8755,-0.98,NaN

In [364]:
# delete nulls rows
df = df.dropna()
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,...,o_c_diff_1,o_c_diff_2,o_c_diff_3,o_c_diff_4,o_c_diff_5,o_c_diff_6,o_c_diff_7,o_c_diff_8,o_c_diff_9,o_c_diff_10
10,2017-05-17,19:00:00,147.4200,147.5000,146.8800,147.4040,1447021,-0.0160,0.6200,0.0160,...,0.6860,-0.8690,-0.3540,0.0560,0.3110,-0.3033,-0.2790,0.4560,-0.1895,-0.2940
11,2017-05-17,20:00:00,147.4001,147.4200,146.5800,146.9100,1639010,-0.4940,0.8400,0.4901,...,0.4741,1.1601,-0.3949,0.1201,0.5301,0.7851,0.1708,0.1951,0.9301,0.2846
12,2017-05-17,21:00:00,146.9100,146.9834,145.6200,146.0800,3303803,-0.8300,1.3634,0.8300,...,0.3399,0.8140,1.5000,-0.0550,0.4600,0.8700,1.1250,0.5107,0.5350,1.2700
13,2017-05-17,22:00:00,146.0800,146.3300,144.4216,144.8500,7778376,-1.2300,1.9084,1.2300,...,0.4000,0.7399,1.2140,1.9000,0.3450,0.8600,1.2700,1.5250,0.9107,0.9350
14,2017-05-18,16:00:00,144.7200,146.2300,144.5100,146.1000,4087815,1.2500,1.7200,-1.3800,...,-2.6100,-2.2100,-1.8701,-1.3960,-0.7100,-2.2650,-1.7500,-1.3400,-1.0850,-1.6993
15,2017-05-18,17:00:00,146.1100,147.4200,146.1100,146.8700,3926294,0.7700,1.3100,-0.7600,...,0.6200,-1.9900,-1.5900,-1.2501,-0.7760,-0.0900,-1.6450,-1.1300,-0.7200,-0.4650
16,2017-05-18,18:00:00,146.8700,147.3724,146.3400,146.4300,2280229,-0.4400,1.0324,0.4400,...,1.2000,1.8200,-0.7900,-0.3900,-0.0501,0.4240,1.1100,-0.4450,0.0700,0.4800
17,2017-05-18,19:00:00,146.4400,147.1700,146.2000,146.7300,1460849,0.3000,0.9700,-0.2900,...,-0.7300,0.4700,1.0900,-1.5200,-1.1200,-0.7801,-0.3060,0.3800,-1.1750,-0.6600
18,2017-05-18,20:00:00,146.7350,147.8000,146.5700,147.6066,1434632,0.8766,1.2300,-0.8716,...,-0.5816,-1.3116,-0.1116,0.5084,-2.1016,-1.7016,-1.3617,-0.8876,-0.2016,-1.7566
19,2017-05-18,21:00:00,147.6100,148.1500,147.5600,147.6400,2415781,0.0334,0.5900,-0.0300,...,0.8416,0.2600,-0.4700,0.7300,1.3500,-1.2600,-0.8600,-0.5201,-0.0460,0.6400

In [365]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 10 to 995
Data columns (total 70 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         986 non-null    object
 1   Time         986 non-null    object
 2   Open         986 non-null    float64
 3   High         986 non-null    float64
 4   Low          986 non-null    float64
 5   Close        986 non-null    float64
 6   Volume       986 non-null    int64
 7   Close_diff   986 non-null    float64
 8   h_l_diff     986 non-null    float64
 9   o_c_diff     986 non-null    float64
 10  Open_1       986 non-null    float64
 11  Open_2       986 non-null    float64
 12  Open_3       986 non-null    float64
 13  Open_4       986 non-null    float64
 14  Open_5       986 non-null    float64
 15  Open_6       986 non-null    float64
 16  Open_7       986 non-null    float64
 17  Open_8       986 non-null    float64
 18  Open_9       986 non-null    float64
 19  Open_10      986 non-null    float64
 20  High_1       986 non-null    float64
 21  High_2       986 non-null    float64
 22  High_3       986 non-null    float64
 23  High_4       986 non-null    float64
 24  High_5       986 non-null    float64
 25  High_6       986 non-null    float64
 26  High_7       986 non-null    float64
 27  High_8       986 non-null    float64
 28  High_9       986 non-null    float64
 29  High_10      986 non-null    float64
 30  Low_1        986 non-null    float64
 31  Low_2        986 non-null    float64
 32  Low_3        986 non-null    float64
 33  Low_4        986 non-null    float64
 34  Low_5        986 non-null    float64
 35  Low_6        986 non-null    float64
 36  Low_7        986 non-null    float64
 37  Low_8        986 non-null    float64
 38  Low_9        986 non-null    float64
 39  Low_10       986 non-null    float64
 40  Close_1      986 non-null    float64
 41  Close_2      986 non-null    float64
 42  Close_3      986 non-null    float64
 43  Close_4      986 non-null    float64
 44  Close_5      986 non-null    float64
 45  Close_6      986 non-null    float64
 46  Close_7      986 non-null    float64
 47  Close_8      986 non-null    float64
 48  Close_9      986 non-null    float64
 49  Close_10     986 non-null    float64
 50  h_l_diff_1   986 non-null    float64
 51  h_l_diff_2   986 non-null    float64
 52  h_l_diff_3   986 non-null    float64
 53  h_l_diff_4   986 non-null    float64
 54  h_l_diff_5   986 non-null    float64
 55  h_l_diff_6   986 non-null    float64
 56  h_l_diff_7   986 non-null    float64
 57  h_l_diff_8   986 non-null    float64
 58  h_l_diff_9   986 non-null    float64
 59  h_l_diff_10  986 non-null    float64
 60  o_c_diff_1   986 non-null    float64
 61  o_c_diff_2   986 non-null    float64
 62  o_c_diff_3   986 non-null    float64
 63  o_c_diff_4   986 non-null    float64
 64  o_c_diff_5   986 non-null    float64
 65  o_c_diff_6   986 non-null    float64
 66  o_c_diff_7   986 non-null    float64
 67  o_c_diff_8   986 non-null    float64
 68  o_c_diff_9   986 non-null    float64
 69  o_c_diff_10  986 non-null    float64
dtypes: float64(67), int64(1), object(2)
memory usage: 546.9+ KB

In [366]:
df.describe()

,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,Open_1,Open_2,...,o_c_diff_1,o_c_diff_2,o_c_diff_3,o_c_diff_4,o_c_diff_5,o_c_diff_6,o_c_diff_7,o_c_diff_8,o_c_diff_9,o_c_diff_10
count,986.000000,986.000000,986.000000,986.000000,9.860000e+02,986.000000,986.000000,986.000000,986.000000,986.000000,...,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000
mean,166.474537,166.908559,166.005378,166.479531,1.996693e+06,0.029067,0.903181,-0.004994,0.029838,0.058316,...,0.000771,-0.000603,-0.001577,-0.001131,-0.000619,-0.002020,-0.004520,-0.004256,-0.003613,-0.003785
std,10.275949,10.270206,10.267749,10.263391,1.322684e+06,0.776237,0.590169,0.645833,0.773955,1.095303,...,0.912236,0.936313,0.915913,0.890809,0.916661,0.907233,0.932548,0.906265,0.917219,0.910550
min,144.720000,146.230000,144.421600,144.850000,3.228230e+05,-6.040000,0.010000,-2.985000,-4.740000,-6.525000,...,-4.800000,-6.730000,-5.370000,-5.350000,-4.305000,-7.085000,-5.540800,-5.521400,-4.740000,-5.857800
25%,154.462500,154.714100,153.950000,154.490000,1.119780e+06,-0.260000,0.520625,-0.333375,-0.303000,-0.419175,...,-0.438100,-0.464675,-0.492325,-0.484750,-0.475000,-0.439450,-0.467275,-0.470000,-0.488750,-0.505450
50%,169.907500,170.262500,169.295000,169.920000,1.663460e+06,0.020000,0.750000,-0.011050,0.030000,0.080000,...,0.021850,-0.019000,-0.004950,-0.017000,0.040000,0.015000,-0.024700,-0.012500,-0.014800,-0.026500
75%,173.202500,173.577500,172.657500,173.146250,2.455205e+06,0.374500,1.110075,0.273325,0.398750,0.561575,...,0.519850,0.504525,0.470300,0.513750,0.518100,0.491875,0.480000,0.450900,0.493150,0.523950
max,183.510000,184.250000,183.220000,183.400000,1.141471e+07,8.260000,5.050000,4.740000,9.390000,9.550000,...,5.040000,4.992300,4.970400,4.350000,4.646500,4.360000,5.570000,4.400000,5.590000,4.880000

In [367]:
# daily mean
dateGroups = df.groupby('Date').mean().reset_index()
for name in important_columns:
    new_col_name = f'{name}_daily_mean'
    df[new_col_name] = df.apply(lambda x: create_daily_mean_column(x,dateGroups,name), axis=1)
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,...,o_c_diff_7,o_c_diff_8,o_c_diff_9,o_c_diff_10,Open_daily_mean,High_daily_mean,Low_daily_mean,Close_daily_mean,h_l_diff_daily_mean,o_c_diff_daily_mean
10,2017-05-17,19:00:00,147.4200,147.5000,146.8800,147.4040,1447021,-0.0160,0.6200,0.0160,...,-0.2790,0.4560,-0.1895,-0.2940,146.952525,147.058350,145.875400,146.311000,1.18295,0.641525
11,2017-05-17,20:00:00,147.4001,147.4200,146.5800,146.9100,1639010,-0.4940,0.8400,0.4901,...,0.1708,0.1951,0.9301,0.2846,146.952525,147.058350,145.875400,146.311000,1.18295,0.641525
12,2017-05-17,21:00:00,146.9100,146.9834,145.6200,146.0800,3303803,-0.8300,1.3634,0.8300,...,1.1250,0.5107,0.5350,1.2700,146.952525,147.058350,145.875400,146.311000,1.18295,0.641525
13,2017-05-17,22:00:00,146.0800,146.3300,144.4216,144.8500,7778376,-1.2300,1.9084,1.2300,...,1.2700,1.5250,0.9107,0.9350,146.952525,147.058350,145.875400,146.311000,1.18295,0.641525
14,2017-05-18,16:00:00,144.7200,146.2300,144.5100,146.1000,4087815,1.2500,1.7200,-1.3800,...,-1.7500,-1.3400,-1.0850,-1.6993,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086
15,2017-05-18,17:00:00,146.1100,147.4200,146.1100,146.8700,3926294,0.7700,1.3100,-0.7600,...,-1.6450,-1.1300,-0.7200,-0.4650,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086
16,2017-05-18,18:00:00,146.8700,147.3724,146.3400,146.4300,2280229,-0.4400,1.0324,0.4400,...,1.1100,-0.4450,0.0700,0.4800,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086
17,2017-05-18,19:00:00,146.4400,147.1700,146.2000,146.7300,1460849,0.3000,0.9700,-0.2900,...,-0.3060,0.3800,-1.1750,-0.6600,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086
18,2017-05-18,20:00:00,146.7350,147.8000,146.5700,147.6066,1434632,0.8766,1.2300,-0.8716,...,-1.3617,-0.8876,-0.2016,-1.7566,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086
19,2017-05-18,21:00:00,147.6100,148.1500,147.5600,147.6400,2415781,0.0334,0.5900,-0.0300,...,-0.8600,-0.5201,-0.0460,0.6400,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086

In [368]:
df['class_column'] = df.apply(create_class_column, axis=1)
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,...,o_c_diff_8,o_c_diff_9,o_c_diff_10,Open_daily_mean,High_daily_mean,Low_daily_mean,Close_daily_mean,h_l_diff_daily_mean,o_c_diff_daily_mean,class_column
10,2017-05-17,19:00:00,147.4200,147.5000,146.8800,147.4040,1447021,-0.0160,0.6200,0.0160,...,0.4560,-0.1895,-0.2940,146.952525,147.058350,145.875400,146.311000,1.18295,0.641525,0
11,2017-05-17,20:00:00,147.4001,147.4200,146.5800,146.9100,1639010,-0.4940,0.8400,0.4901,...,0.1951,0.9301,0.2846,146.952525,147.058350,145.875400,146.311000,1.18295,0.641525,-1
12,2017-05-17,21:00:00,146.9100,146.9834,145.6200,146.0800,3303803,-0.8300,1.3634,0.8300,...,0.5107,0.5350,1.2700,146.952525,147.058350,145.875400,146.311000,1.18295,0.641525,-1
13,2017-05-17,22:00:00,146.0800,146.3300,144.4216,144.8500,7778376,-1.2300,1.9084,1.2300,...,1.5250,0.9107,0.9350,146.952525,147.058350,145.875400,146.311000,1.18295,0.641525,-1
14,2017-05-18,16:00:00,144.7200,146.2300,144.5100,146.1000,4087815,1.2500,1.7200,-1.3800,...,-1.3400,-1.0850,-1.6993,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086,1
15,2017-05-18,17:00:00,146.1100,147.4200,146.1100,146.8700,3926294,0.7700,1.3100,-0.7600,...,-1.1300,-0.7200,-0.4650,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086,1
16,2017-05-18,18:00:00,146.8700,147.3724,146.3400,146.4300,2280229,-0.4400,1.0324,0.4400,...,-0.4450,0.0700,0.4800,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086,-1
17,2017-05-18,19:00:00,146.4400,147.1700,146.2000,146.7300,1460849,0.3000,0.9700,-0.2900,...,0.3800,-1.1750,-0.6600,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086,1
18,2017-05-18,20:00:00,146.7350,147.8000,146.5700,147.6066,1434632,0.8766,1.2300,-0.8716,...,-0.8876,-0.2016,-1.7566,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086,1
19,2017-05-18,21:00:00,147.6100,148.1500,147.5600,147.6400,2415781,0.0334,0.5900,-0.0300,...,-0.5201,-0.0460,0.6400,146.589286,147.457486,146.394286,146.992371,1.06320,-0.403086,0

In [369]:
# Class divide
df['class_column'].value_counts()

-1    334
 0    327
 1    325
Name: class_column, dtype: int64

In [370]:
now = datetime.now()
df.to_csv(f'../data/preprocess/{filename}_{now.strftime("%d_%m_%Y %H_%M_%S")}.csv', index=False)