In [2]:
import pandas as pd
from datetime import datetime

In [3]:
#consts
filename= 'amzn'
important_columns = ['Open', 'High', 'Low', 'h_l_diff','o_c_diff']

In [4]:
df = pd.read_csv(f'../data/1 Hour/Stocks/{filename}.us.txt')

df.head(10)

,Date,Time,Open,High,Low,Close,Volume,OpenInt
0,2017-05-16,16:00:00,961.0000,965.4800,960.910,964.6700,431465,0
1,2017-05-16,17:00:00,964.6800,968.2000,963.180,966.6400,547131,0
2,2017-05-16,18:00:00,966.5300,967.8500,965.120,967.2850,234450,0
3,2017-05-16,19:00:00,967.1100,970.0600,966.260,967.9845,273555,0
4,2017-05-16,20:00:00,968.0232,968.7400,965.740,965.7800,170741,0
5,2017-05-16,21:00:00,965.7650,967.9200,965.570,966.9400,138878,0
6,2017-05-16,22:00:00,966.9800,967.3100,965.550,966.0700,395476,0
7,2017-05-17,16:00:00,954.7000,960.3957,952.740,956.8800,614193,0
8,2017-05-17,17:00:00,957.4200,959.6400,952.065,952.7400,529877,0
9,2017-05-17,18:00:00,952.9300,956.8800,951.110,955.7400,431709,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     996 non-null    object
 1   Time     996 non-null    object
 2   Open     996 non-null    float64
 3   High     996 non-null    float64
 4   Low      996 non-null    float64
 5   Close    996 non-null    float64
 6   Volume   996 non-null    int64
 7   OpenInt  996 non-null    int64
dtypes: float64(4), int64(2), object(2)
memory usage: 62.4+ KB

In [6]:
df.describe()

,Open,High,Low,Close,Volume,OpenInt
count,996.000000,996.000000,996.000000,996.000000,9.960000e+02,996.0
mean,1013.804472,1016.399947,1010.773325,1013.686946,3.639487e+05,0.0
std,64.605894,65.068594,64.317439,64.768326,2.812579e+05,0.0
min,934.720000,937.959000,927.000000,934.890000,7.527400e+04,0.0
25%,971.035000,973.662500,968.000000,970.497500,1.765002e+05,0.0
50%,991.451550,993.579350,988.300000,991.183100,2.999535e+05,0.0
75%,1019.440275,1022.537500,1015.265000,1020.852500,4.588695e+05,0.0
max,1205.300000,1213.410000,1203.320000,1205.000000,2.832317e+06,0.0

In [7]:
df = df.drop('OpenInt',1)

In [8]:
df.head(10)

         Date      Time      Open      High      Low     Close  Volume
0  2017-05-16  16:00:00  961.0000  965.4800  960.910  964.6700  431465
1  2017-05-16  17:00:00  964.6800  968.2000  963.180  966.6400  547131
2  2017-05-16  18:00:00  966.5300  967.8500  965.120  967.2850  234450
3  2017-05-16  19:00:00  967.1100  970.0600  966.260  967.9845  273555
4  2017-05-16  20:00:00  968.0232  968.7400  965.740  965.7800  170741
5  2017-05-16  21:00:00  965.7650  967.9200  965.570  966.9400  138878
6  2017-05-16  22:00:00  966.9800  967.3100  965.550  966.0700  395476
7  2017-05-17  16:00:00  954.7000  960.3957  952.740  956.8800  614193
8  2017-05-17  17:00:00  957.4200  959.6400  952.065  952.7400  529877
9  2017-05-17  18:00:00  952.9300  956.8800  951.110  955.7400  431709

In [9]:
df['Close_diff'] = df['Close'].diff()
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff
0,2017-05-16,16:00:00,961.0000,965.4800,960.910,964.6700,431465,NaN
1,2017-05-16,17:00:00,964.6800,968.2000,963.180,966.6400,547131,1.9700
2,2017-05-16,18:00:00,966.5300,967.8500,965.120,967.2850,234450,0.6450
3,2017-05-16,19:00:00,967.1100,970.0600,966.260,967.9845,273555,0.6995
4,2017-05-16,20:00:00,968.0232,968.7400,965.740,965.7800,170741,-2.2045
5,2017-05-16,21:00:00,965.7650,967.9200,965.570,966.9400,138878,1.1600
6,2017-05-16,22:00:00,966.9800,967.3100,965.550,966.0700,395476,-0.8700
7,2017-05-17,16:00:00,954.7000,960.3957,952.740,956.8800,614193,-9.1900
8,2017-05-17,17:00:00,957.4200,959.6400,952.065,952.7400,529877,-4.1400
9,2017-05-17,18:00:00,952.9300,956.8800,951.110,955.7400,431709,3.0000

In [10]:
df.describe()

,Open,High,Low,Close,Volume,Close_diff
count,996.000000,996.000000,996.000000,996.000000,9.960000e+02,995.000000
mean,1013.804472,1016.399947,1010.773325,1013.686946,3.639487e+05,0.189217
std,64.605894,65.068594,64.317439,64.768326,2.812579e+05,5.523665
min,934.720000,937.959000,927.000000,934.890000,7.527400e+04,-37.128000
25%,971.035000,973.662500,968.000000,970.497500,1.765002e+05,-1.680000
50%,991.451550,993.579350,988.300000,991.183100,2.999535e+05,0.160000
75%,1019.440275,1022.537500,1015.265000,1020.852500,4.588695e+05,1.980000
max,1205.300000,1213.410000,1203.320000,1205.000000,2.832317e+06,97.516400

In [11]:
def create_class_column(row):
    if row['Close_diff'] > 0.24:
        return 1
    if row['Close_diff'] < -0.14:
        return -1
    else:
        return 0

def create_daily_mean_column(row, groupData, col_name):
    return float(groupData.loc[(dateGroups['Date'] == row['Date'])][col_name])

def calculate_diffs(diff_number, col_name):
    new_col_name = f'{col_name}_{diff_number}'
    df[new_col_name] = df[col_name].diff(diff_number)

In [12]:
df['h_l_diff'] = df['High'] - df['Low']
df['o_c_diff'] = df['Open'] - df['Close']
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff
0,2017-05-16,16:00:00,961.0000,965.4800,960.910,964.6700,431465,NaN,4.5700,-3.6700
1,2017-05-16,17:00:00,964.6800,968.2000,963.180,966.6400,547131,1.9700,5.0200,-1.9600
2,2017-05-16,18:00:00,966.5300,967.8500,965.120,967.2850,234450,0.6450,2.7300,-0.7550
3,2017-05-16,19:00:00,967.1100,970.0600,966.260,967.9845,273555,0.6995,3.8000,-0.8745
4,2017-05-16,20:00:00,968.0232,968.7400,965.740,965.7800,170741,-2.2045,3.0000,2.2432
5,2017-05-16,21:00:00,965.7650,967.9200,965.570,966.9400,138878,1.1600,2.3500,-1.1750
6,2017-05-16,22:00:00,966.9800,967.3100,965.550,966.0700,395476,-0.8700,1.7600,0.9100
7,2017-05-17,16:00:00,954.7000,960.3957,952.740,956.8800,614193,-9.1900,7.6557,-2.1800
8,2017-05-17,17:00:00,957.4200,959.6400,952.065,952.7400,529877,-4.1400,7.5750,4.6800
9,2017-05-17,18:00:00,952.9300,956.8800,951.110,955.7400,431709,3.0000,5.7700,-2.8100

In [13]:
#diffs
for name in important_columns:
    for i in range(1,11):
        calculate_diffs(i,name)

df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,...,o_c_diff_1,o_c_diff_2,o_c_diff_3,o_c_diff_4,o_c_diff_5,o_c_diff_6,o_c_diff_7,o_c_diff_8,o_c_diff_9,o_c_diff_10
0,2017-05-16,16:00:00,961.0000,965.4800,960.910,964.6700,431465,NaN,4.5700,-3.6700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-05-16,17:00:00,964.6800,968.2000,963.180,966.6400,547131,1.9700,5.0200,-1.9600,...,1.7100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-05-16,18:00:00,966.5300,967.8500,965.120,967.2850,234450,0.6450,2.7300,-0.7550,...,1.2050,2.9150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-05-16,19:00:00,967.1100,970.0600,966.260,967.9845,273555,0.6995,3.8000,-0.8745,...,-0.1195,1.0855,2.7955,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-05-16,20:00:00,968.0232,968.7400,965.740,965.7800,170741,-2.2045,3.0000,2.2432,...,3.1177,2.9982,4.2032,5.9132,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-05-16,21:00:00,965.7650,967.9200,965.570,966.9400,138878,1.1600,2.3500,-1.1750,...,-3.4182,-0.3005,-0.4200,0.7850,2.4950,NaN,NaN,NaN,NaN,NaN
6,2017-05-16,22:00:00,966.9800,967.3100,965.550,966.0700,395476,-0.8700,1.7600,0.9100,...,2.0850,-1.3332,1.7845,1.6650,2.8700,4.5800,NaN,NaN,NaN,NaN
7,2017-05-17,16:00:00,954.7000,960.3957,952.740,956.8800,614193,-9.1900,7.6557,-2.1800,...,-3.0900,-1.0050,-4.4232,-1.3055,-1.4250,-0.2200,1.490,NaN,NaN,NaN
8,2017-05-17,17:00:00,957.4200,959.6400,952.065,952.7400,529877,-4.1400,7.5750,4.6800,...,6.8600,3.7700,5.8550,2.4368,5.5545,5.4350,6.640,8.35,NaN,NaN
9,2017-05-17,18:00:00,952.9300,956.8800,951.110,955.7400,431709,3.0000,5.7700,-2.8100,...,-7.4900,-0.6300,-3.7200,-1.6350,-5.0532,-1.9355,-2.055,-0.85,0.86,NaN

In [14]:
# delete nulls rows
df = df.dropna()
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,...,o_c_diff_1,o_c_diff_2,o_c_diff_3,o_c_diff_4,o_c_diff_5,o_c_diff_6,o_c_diff_7,o_c_diff_8,o_c_diff_9,o_c_diff_10
10,2017-05-17,19:00:00,955.6816,958.88,953.5200,957.5690,260780,1.8290,5.3600,-1.8874,...,0.9226,-6.5674,0.2926,-2.7974,-0.7124,-4.1306,-1.0129,-1.1324,0.0726,1.7826
11,2017-05-17,20:00:00,957.6300,958.30,953.5200,953.7801,181523,-3.7889,4.7800,3.8499,...,5.7373,6.6599,-0.8301,6.0299,2.9399,5.0249,1.6067,4.7244,4.6049,5.8099
12,2017-05-17,21:00:00,953.7100,955.55,948.1000,948.2900,467770,-5.4901,7.4500,5.4200,...,1.5701,7.3074,8.2300,0.7400,7.6000,4.5100,6.5950,3.1768,6.2945,6.1750
13,2017-05-17,22:00:00,948.6400,949.73,944.1200,944.7900,1090407,-3.5000,5.6100,3.8500,...,-1.5700,0.0001,5.7374,6.6600,-0.8300,6.0300,2.9400,5.0250,1.6068,4.7245
14,2017-05-18,16:00:00,944.8000,955.00,944.7600,951.8450,650889,7.0550,10.2400,-7.0450,...,-10.8950,-12.4650,-10.8949,-5.1576,-4.2350,-11.7250,-4.8650,-7.9550,-5.8700,-9.2882
15,2017-05-18,17:00:00,951.8700,959.66,951.7000,955.2100,543846,3.3650,7.9600,-3.3400,...,3.7050,-7.1900,-8.7600,-7.1899,-1.4526,-0.5300,-8.0200,-1.1600,-4.2500,-2.1650
16,2017-05-18,18:00:00,955.3800,957.78,954.0200,954.3600,212850,-0.8500,3.7600,1.0200,...,4.3600,8.0650,-2.8300,-4.4000,-2.8299,2.9074,3.8300,-3.6600,3.2000,0.1100
17,2017-05-18,19:00:00,954.5245,956.00,951.2069,955.4300,295354,1.0700,4.7931,-0.9055,...,-1.9255,2.4345,6.1395,-4.7555,-6.3255,-4.7554,0.9819,1.9045,-5.5855,1.2745
18,2017-05-18,20:00:00,955.4502,959.04,954.4600,957.7500,158194,2.3200,4.5800,-2.2998,...,-1.3943,-3.3198,1.0402,4.7452,-6.1498,-7.7198,-6.1497,-0.4124,0.5102,-6.9798
19,2017-05-18,21:00:00,957.9000,962.75,957.9000,960.0222,413588,2.2722,4.8500,-2.1222,...,0.1776,-1.2167,-3.1422,1.2178,4.9228,-5.9722,-7.5422,-5.9721,-0.2348,0.6878

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 10 to 995
Data columns (total 60 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         986 non-null    object
 1   Time         986 non-null    object
 2   Open         986 non-null    float64
 3   High         986 non-null    float64
 4   Low          986 non-null    float64
 5   Close        986 non-null    float64
 6   Volume       986 non-null    int64
 7   Close_diff   986 non-null    float64
 8   h_l_diff     986 non-null    float64
 9   o_c_diff     986 non-null    float64
 10  Open_1       986 non-null    float64
 11  Open_2       986 non-null    float64
 12  Open_3       986 non-null    float64
 13  Open_4       986 non-null    float64
 14  Open_5       986 non-null    float64
 15  Open_6       986 non-null    float64
 16  Open_7       986 non-null    float64
 17  Open_8       986 non-null    float64
 18  Open_9       986 non-null    float64
 19  Open_10      986 non-null    float64
 20  High_1       986 non-null    float64
 21  High_2       986 non-null    float64
 22  High_3       986 non-null    float64
 23  High_4       986 non-null    float64
 24  High_5       986 non-null    float64
 25  High_6       986 non-null    float64
 26  High_7       986 non-null    float64
 27  High_8       986 non-null    float64
 28  High_9       986 non-null    float64
 29  High_10      986 non-null    float64
 30  Low_1        986 non-null    float64
 31  Low_2        986 non-null    float64
 32  Low_3        986 non-null    float64
 33  Low_4        986 non-null    float64
 34  Low_5        986 non-null    float64
 35  Low_6        986 non-null    float64
 36  Low_7        986 non-null    float64
 37  Low_8        986 non-null    float64
 38  Low_9        986 non-null    float64
 39  Low_10       986 non-null    float64
 40  h_l_diff_1   986 non-null    float64
 41  h_l_diff_2   986 non-null    float64
 42  h_l_diff_3   986 non-null    float64
 43  h_l_diff_4   986 non-null    float64
 44  h_l_diff_5   986 non-null    float64
 45  h_l_diff_6   986 non-null    float64
 46  h_l_diff_7   986 non-null    float64
 47  h_l_diff_8   986 non-null    float64
 48  h_l_diff_9   986 non-null    float64
 49  h_l_diff_10  986 non-null    float64
 50  o_c_diff_1   986 non-null    float64
 51  o_c_diff_2   986 non-null    float64
 52  o_c_diff_3   986 non-null    float64
 53  o_c_diff_4   986 non-null    float64
 54  o_c_diff_5   986 non-null    float64
 55  o_c_diff_6   986 non-null    float64
 56  o_c_diff_7   986 non-null    float64
 57  o_c_diff_8   986 non-null    float64
 58  o_c_diff_9   986 non-null    float64
 59  o_c_diff_10  986 non-null    float64
dtypes: float64(57), int64(1), object(2)
memory usage: 469.9+ KB

In [16]:
df.describe()

,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,Open_1,Open_2,...,o_c_diff_1,o_c_diff_2,o_c_diff_3,o_c_diff_4,o_c_diff_5,o_c_diff_6,o_c_diff_7,o_c_diff_8,o_c_diff_9,o_c_diff_10
count,986.000000,986.000000,986.000000,986.000000,9.860000e+02,986.000000,986.000000,986.000000,986.000000,986.000000,...,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000
mean,1014.324661,1016.918734,1011.279906,1014.200273,3.638189e+05,0.200001,5.638829,0.124388,0.203357,0.399006,...,0.003356,-0.004291,-0.007844,-0.003797,-0.000136,-0.008521,-0.015971,-0.017041,-0.006199,-0.005094
std,64.722711,65.191120,64.442068,64.891917,2.822385e+05,5.537290,4.122371,3.999937,5.308200,7.794314,...,5.534917,5.745373,5.524982,5.436998,5.473888,5.706784,5.789285,5.590183,5.624580,5.677101
min,934.720000,937.959000,927.000000,934.890000,7.527400e+04,-37.128000,0.650000,-17.630000,-35.636000,-41.870000,...,-37.624700,-31.029800,-32.983400,-32.385800,-29.117800,-42.525000,-36.160000,-29.387000,-26.880000,-28.079800
25%,971.557500,974.062500,968.305000,971.245250,1.764468e+05,-1.676250,3.064275,-1.690000,-1.750000,-2.810000,...,-2.692500,-2.767700,-2.542400,-2.885000,-2.730200,-2.628125,-2.740525,-2.640000,-2.916975,-2.914600
50%,991.762800,993.907650,988.715000,991.367700,2.989275e+05,0.152350,4.627000,0.007500,0.104650,0.335000,...,0.238700,0.107500,0.120200,-0.054950,-0.148550,0.164250,0.092250,0.014850,0.231200,-0.012050
75%,1021.863350,1023.782500,1019.047500,1022.435000,4.583820e+05,1.980000,6.903000,1.752500,2.202325,3.568750,...,2.928325,2.820525,2.909300,3.063750,2.845075,2.949000,2.803125,2.784875,2.941250,2.831200
max,1205.300000,1213.410000,1203.320000,1205.000000,2.832317e+06,97.516400,60.390000,28.060000,77.280000,90.170000,...,38.090000,35.440100,26.129500,31.450000,27.490000,27.465000,28.760000,26.690000,29.619600,35.440000

In [17]:
# daily mean
dateGroups = df.groupby('Date').mean().reset_index()
for name in important_columns:
    new_col_name = f'{name}_daily_mean'
    df[new_col_name] = df.apply(lambda x: create_daily_mean_column(x,dateGroups,name), axis=1)
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,...,o_c_diff_6,o_c_diff_7,o_c_diff_8,o_c_diff_9,o_c_diff_10,Open_daily_mean,High_daily_mean,Low_daily_mean,h_l_diff_daily_mean,o_c_diff_daily_mean
10,2017-05-17,19:00:00,955.6816,958.88,953.5200,957.5690,260780,1.8290,5.3600,-1.8874,...,-4.1306,-1.0129,-1.1324,0.0726,1.7826,953.915400,955.615000,949.815000,5.800000,2.808125
11,2017-05-17,20:00:00,957.6300,958.30,953.5200,953.7801,181523,-3.7889,4.7800,3.8499,...,5.0249,1.6067,4.7244,4.6049,5.8099,953.915400,955.615000,949.815000,5.800000,2.808125
12,2017-05-17,21:00:00,953.7100,955.55,948.1000,948.2900,467770,-5.4901,7.4500,5.4200,...,4.5100,6.5950,3.1768,6.2945,6.1750,953.915400,955.615000,949.815000,5.800000,2.808125
13,2017-05-17,22:00:00,948.6400,949.73,944.1200,944.7900,1090407,-3.5000,5.6100,3.8500,...,6.0300,2.9400,5.0250,1.6068,4.7245,953.915400,955.615000,949.815000,5.800000,2.808125
14,2017-05-18,16:00:00,944.8000,955.00,944.7600,951.8450,650889,7.0550,10.2400,-7.0450,...,-11.7250,-4.8650,-7.9550,-5.8700,-9.2882,954.239957,958.761429,953.149557,5.611871,-1.869643
15,2017-05-18,17:00:00,951.8700,959.66,951.7000,955.2100,543846,3.3650,7.9600,-3.3400,...,-0.5300,-8.0200,-1.1600,-4.2500,-2.1650,954.239957,958.761429,953.149557,5.611871,-1.869643
16,2017-05-18,18:00:00,955.3800,957.78,954.0200,954.3600,212850,-0.8500,3.7600,1.0200,...,2.9074,3.8300,-3.6600,3.2000,0.1100,954.239957,958.761429,953.149557,5.611871,-1.869643
17,2017-05-18,19:00:00,954.5245,956.00,951.2069,955.4300,295354,1.0700,4.7931,-0.9055,...,-4.7554,0.9819,1.9045,-5.5855,1.2745,954.239957,958.761429,953.149557,5.611871,-1.869643
18,2017-05-18,20:00:00,955.4502,959.04,954.4600,957.7500,158194,2.3200,4.5800,-2.2998,...,-7.7198,-6.1497,-0.4124,0.5102,-6.9798,954.239957,958.761429,953.149557,5.611871,-1.869643
19,2017-05-18,21:00:00,957.9000,962.75,957.9000,960.0222,413588,2.2722,4.8500,-2.1222,...,-5.9722,-7.5422,-5.9721,-0.2348,0.6878,954.239957,958.761429,953.149557,5.611871,-1.869643

In [18]:
df['class_column'] = df.apply(create_class_column, axis=1)
df.head(10)

,Date,Time,Open,High,Low,Close,Volume,Close_diff,h_l_diff,o_c_diff,...,o_c_diff_7,o_c_diff_8,o_c_diff_9,o_c_diff_10,Open_daily_mean,High_daily_mean,Low_daily_mean,h_l_diff_daily_mean,o_c_diff_daily_mean,class_column
10,2017-05-17,19:00:00,955.6816,958.88,953.5200,957.5690,260780,1.8290,5.3600,-1.8874,...,-1.0129,-1.1324,0.0726,1.7826,953.915400,955.615000,949.815000,5.800000,2.808125,1
11,2017-05-17,20:00:00,957.6300,958.30,953.5200,953.7801,181523,-3.7889,4.7800,3.8499,...,1.6067,4.7244,4.6049,5.8099,953.915400,955.615000,949.815000,5.800000,2.808125,-1
12,2017-05-17,21:00:00,953.7100,955.55,948.1000,948.2900,467770,-5.4901,7.4500,5.4200,...,6.5950,3.1768,6.2945,6.1750,953.915400,955.615000,949.815000,5.800000,2.808125,-1
13,2017-05-17,22:00:00,948.6400,949.73,944.1200,944.7900,1090407,-3.5000,5.6100,3.8500,...,2.9400,5.0250,1.6068,4.7245,953.915400,955.615000,949.815000,5.800000,2.808125,-1
14,2017-05-18,16:00:00,944.8000,955.00,944.7600,951.8450,650889,7.0550,10.2400,-7.0450,...,-4.8650,-7.9550,-5.8700,-9.2882,954.239957,958.761429,953.149557,5.611871,-1.869643,1
15,2017-05-18,17:00:00,951.8700,959.66,951.7000,955.2100,543846,3.3650,7.9600,-3.3400,...,-8.0200,-1.1600,-4.2500,-2.1650,954.239957,958.761429,953.149557,5.611871,-1.869643,1
16,2017-05-18,18:00:00,955.3800,957.78,954.0200,954.3600,212850,-0.8500,3.7600,1.0200,...,3.8300,-3.6600,3.2000,0.1100,954.239957,958.761429,953.149557,5.611871,-1.869643,-1
17,2017-05-18,19:00:00,954.5245,956.00,951.2069,955.4300,295354,1.0700,4.7931,-0.9055,...,0.9819,1.9045,-5.5855,1.2745,954.239957,958.761429,953.149557,5.611871,-1.869643,1
18,2017-05-18,20:00:00,955.4502,959.04,954.4600,957.7500,158194,2.3200,4.5800,-2.2998,...,-6.1497,-0.4124,0.5102,-6.9798,954.239957,958.761429,953.149557,5.611871,-1.869643,1
19,2017-05-18,21:00:00,957.9000,962.75,957.9000,960.0222,413588,2.2722,4.8500,-2.1222,...,-7.5422,-5.9721,-0.2348,0.6878,954.239957,958.761429,953.149557,5.611871,-1.869643,1

In [19]:
# Class divide
df['class_column'].value_counts()

 1    487
-1    462
 0     37
Name: class_column, dtype: int64

In [20]:
now = datetime.now()
df.to_csv(f'../data/preprocess/{filename}_{now.strftime("%d_%m_%Y %H_%M_%S")}.csv', index=False)